:root {
    color-scheme: light;
}

html,
body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;

    overflow-wrap: break-word;
    -ms-word-break: break-all;
    -ms-word-break: break-word;
    word-break: break-all;
    word-break: break-word;
}




ul,
ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 0;
}



.list-block-list-outside-left li {
    margin-left: 20px !important;
}

.list-block-list-outside-right li {
    margin-right: 20px !important;
}


.paragraph {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    line-height: 1;
    text-decoration: none;
    color: #4A5568;

}


.heading1 {
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    line-height: 1;
    text-decoration: none;
    color: #4A5568;

}


.heading2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    line-height: 1;
    text-decoration: none;
    color: #4A5568;

}


.heading3 {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    line-height: 1;
    text-decoration: none;
    color: #4A5568;

}


.list {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    line-height: 1;
    text-decoration: none;
    color: #4A5568;

}


p a,
li a {
    display: inline-block;
    color: #cd8c30;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.button-table a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.paragraph>span {
    text-decoration: none;
}

.heading1>span {
    text-decoration: none;
}

.heading2>span {
    text-decoration: none;
}

.heading3>span {
    text-decoration: none;
}

.list>span {
    text-decoration: none;
}


* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div[style*="margin: 16px 0"] {
    margin: 0 !important;
}

#MessageViewBody,
#MessageWebViewDiv {
    width: 100% !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
  
}

table:not(.button-table) {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    margin: 0 auto !important;
}

th {
    font-weight: normal;
}

tr td p {
    margin: 0;
}

img {
    -ms-interpolation-mode: bicubic;
}

a[x-apple-data-detectors],

.unstyle-auto-detected-links a,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.im {
    color: inherit !important;
}

.a6S {
    display: none !important;
    opacity: 0.01 !important;
}

img.g-img+div {
    display: none !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    u~div .contentMainTable {
        min-width: 320px !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    u~div .contentMainTable {
        min-width: 375px !important;
    }
}

@media only screen and (min-device-width: 414px) {
    u~div .contentMainTable {
        min-width: 414px !important;
    }
}

@media only screen and (max-device-width: 600px) {
    .contentMainTable {
        width: 100% !important;
        margin: auto !important;
    }

    .single-column {
        width: 100% !important;
        margin: auto !important;
    }

    .multi-column {
        width: 100% !important;
        margin: auto !important;
    }

    .imageBlockWrapper {
        width: 100% !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .contentMainTable {
        width: 100% !important;
        margin: auto !important;
    }

    .single-column {
        width: 100% !important;
        margin: auto !important;
    }

    .multi-column {
        width: 100% !important;
        margin: auto !important;
    }

    .imageBlockWrapper {
        width: 100% !important;
        margin: auto !important;
    }
}